<%= link_to "New Upload" ,new_user_path%>

<table >
	<tr>
		<th>Name</th>
		<th >List of images</th>	
	</tr>
	<% @uploads.each do |upload|%>
	<tr>
		<td><%= upload.name %></td>
		<td>
		    <% upload.attachments.each do |attachment| %>
			    <%== link_to(image_tag(attachment.url, alt: 'Image',width: '50', height: '50'), attachment.url, target: '_target')%>
			<% end %>
			<%=link_to "Show",upload%>
			<%=link_to "Delete",user_path(upload), method: :delete%>
	  	</td>
  	</tr>
<%end%>
</table>
